.all-board-common-code-all-board-common-code {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.all-board-common-code-code-embed {
  width: 0px;
  height: 0px;
}

.all-board-top-margin-top-margin {
  width: 100%;
  height: 70px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-800);
}


.all-board-bottom-footer-bottom-footer {
  width: 100%;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.all-board-bottom-footer-container {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: center;
  background-color: #c7c7c7;
}
.all-board-bottom-footer-container1 {
  flex: 0 0 auto;
  width: 96%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: column;
}
.all-board-bottom-footer-text {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 10px;
  align-self: center;
  text-align: center;
  font-weight: bold;
}
.all-board-bottom-footer-text01 {
  color: var(--dl-color-gray-700);
}
.all-board-bottom-footer-text02 {
  color: var(--dl-color-gray-500);
}
.all-board-bottom-footer-text03 {
  color: var(--dl-color-gray-black);
}
.all-board-bottom-footer-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.all-board-bottom-footer-container3 {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.all-board-bottom-footer-text04 {
  color: var(--dl-color-secondary-400);
  width: 50%;
  font-size: 10px;
  text-align: left;
}
.all-board-bottom-footer-text05 {
  color: var(--dl-color-secondary-400);
  width: 50%;
  font-size: 10px;
  text-align: left;
}
.all-board-bottom-footer-text06 {
  color: var(--dl-color-secondary-400);
  width: 50%;
  font-size: 10px;
  text-align: left;
}
.all-board-bottom-footer-container4 {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.all-board-bottom-footer-text07 {
  color: var(--dl-color-secondary-400);
  width: 50%;
  font-size: 10px;
  text-align: right;
}
.all-board-bottom-footer-text10 {
  color: var(--dl-color-secondary-400);
  width: 50%;
  font-size: 10px;
  text-align: right;
}
.all-board-bottom-footer-text11 {
  color: var(--dl-color-gray-700);
  width: 100%;
  font-size: 10px;
  align-self: center;
  font-style: normal;
  margin-top: 15px;
  text-align: center;
  font-family: Gothic A1;
  font-weight: 500;
  margin-bottom: 15px;
}

















.g-login-container {
  width: 100%;
  display: flex;
  z-index: -1;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.g-login-personal-code {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.g-login-code-embed {
  width: 0px;
  height: 0px;
}
.g-login-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.g-login-container02 {
  width: 90%;
  height: 30px;
  display: flex;
  margin-top: 30px;
  align-items: flex-end;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}
.g-login-text {
  width: 65%;
  height: 40px;
  font-size: 24px;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 800;
}
.g-login-text01 {
  color: #3269d5;
  font-style: normal;
}
.g-login-text02 {
  color: var(--dl-color-gray-700);
  font-style: normal;
}
.g-login-text03 {
  color: var(--dl-color-gray-700);
  font-size: 12px;
  font-weight: 600;
}
.g-login-text04 {
  color: var(--dl-color-gray-700);
  width: 35%;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Inder;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  margin-bottom: 8px;
  text-decoration: none;
}
.g-login-login-set {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.g-login-id-input {
  width: 90%;
  height: 40px;
  font-size: 12px;
  margin-top: 60px;
  text-align: center;
  border-width: 0px;
  background-color: rgba(244, 244, 244, 1);
}
.g-login-pw-input {
  width: 90%;
  height: 40px;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
  border-width: 0px;
  margin-bottom: 5px;
  background-color: rgba(244, 244, 244, 1);
}
.g-login-button {
  color: var(--dl-color-gray-white);
  width: 90%;
  height: 50px;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 2.6;
  border-width: 0px;
  margin-bottom: 5px;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
}
.g-login-text07 {
  color: rgb(255, 255, 255);
  height: 20px;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.g-login-container03 {
  width: 90%;
  height: 20px;
  display: flex;
  align-items: center;
}
.g-login-container04 {
  width: 50%;
  display: flex;
  align-items: center;
}
.g-login-checkbox {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  accent-color: #2a84f3;
}
.g-login-text08 {
  color: rgb(0, 0, 0);
  width: 140px;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inder;
  font-weight: 400;
  line-height: 168%;
  margin-left: 3px;
  font-stretch: normal;
  text-decoration: none;
}
.g-login-text09 {
  color: rgba(0, 0, 0, 1);
  width: 50%;
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 167.99999475479126%;
  font-stretch: normal;
  text-decoration: none;
}
.g-login-container05 {
  width: 100%;
  height: 225px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.g-login-container06 {
  width: 90%;
  height: 40px;
  display: flex;
  margin-top: 40px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(244, 244, 244, 1);
}
.g-login-text10 {
  color: var(--dl-color-gray-500);
  width: 100%;
  height: auto;
  font-size: 12px;
  text-align: center;
}
.g-login-container07 {
  width: 90%;
  display: flex;
  margin-top: 5px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.g-login-frame-bg {
  width: 111px;
  height: 25px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  border-radius: 4px;
  justify-content: center;
}
.g-login-text11 {
  color: var(--dl-color-gray-500);
  width: 100%;
  height: auto;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.g-login-container08 {
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: space-between;
}
.g-login-container09 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.g-login-icon {
  fill: #0f70bd;
  width: 20px;
  height: 24px;
}
.g-login-text12 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  margin-left: 3px;
  font-stretch: normal;
  text-decoration: underline  none;
}
.g-login-frame-bg1 {
  width: 111px;
  height: 29px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: #124ec5;
  border-width: 1px;
  border-radius: 4px;
  justify-content: center;
  background-color: #ffda00;
}
.g-login-text13 {
  color: #000000;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.g-login-container10 {
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.g-login-container11 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.g-login-container12 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.g-login-icon2 {
  fill: #0f70bd;
  width: 20px;
  height: 24px;
}
.g-login-text14 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  margin-left: 3px;
  font-stretch: normal;
  text-decoration: underline  none;
}
.g-login-frame-bg2 {
  width: 111px;
  height: 25px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  border-radius: 4px;
  justify-content: center;
}
.g-login-text15 {
  color: var(--dl-color-gray-500);
  width: 100%;
  height: auto;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.g-login-text16 {
  margin-top: 70px;
  text-align: center;
}
.g-login-text17 {
  font-size: 12px;
}
.g-login-text18 {
  font-size: 12px;
}
.g-login-text19 {
  font-size: 12px;
}
.g-login-text20 {
  font-size: 12px;
}
.g-login-text21 {
  font-size: 12px;
}
