.pc0-home-container {
  width: 1400px;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  padding-left: 50%;
  padding-right: 50%;
  flex-direction: column;
}
.pc0-home-personal-code {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.pc0-home-div {
  width: 0px;
  height: 0px;
}
.pc0-home-top {
  flex: 0 0 auto;
  width: 1400px;
  height: 80px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-image: linear-gradient(180deg, rgb(3, 89, 151) 1.00%,rgb(5, 33, 62) 25.00%,rgb(1, 6, 11) 83.00%);
}
.pc0-home-logo {
  flex: 0 0 auto;
  width: 360px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pc0-home-container01 {
  width: 333px;
  height: 80px;
  display: flex;
  position: relative;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.pc0-home-container02 {
  top: 12px;
  left: 104px;
  width: 140px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.pc0-home-text {
  top: -6px;
  left: 12px;
  color: var(--dl-color-gray-500);
  width: 100px;
  height: 40px;
  position: absolute;
  font-size: 48px;
  font-style: normal;
  text-align: right;
  font-family: Gothic A1;
  font-weight: 900;
  letter-spacing: -1px;
}
.pc0-home-text01 {
  color: var(--dl-color-gray-black);
  right: -75px;
  width: 100px;
  bottom: -5px;
  height: 40px;
  position: absolute;
  font-size: 36px;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 800;
  letter-spacing: -1px;
}
.pc0-home-container03 {
  top: 11px;
  left: 103px;
  width: 140px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.pc0-home-text02 {
  top: -6px;
  left: 12px;
  color: #ffe71f;
  width: 100px;
  height: 40px;
  position: absolute;
  font-size: 48px;
  font-style: normal;
  text-align: right;
  font-family: Gothic A1;
  font-weight: 900;
  letter-spacing: -1px;
}
.pc0-home-text03 {
  color: #95c0e6;
  right: -75px;
  width: 100px;
  bottom: -5px;
  height: 40px;
  position: absolute;
  font-size: 36px;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 800;
  letter-spacing: -1px;
}
.pc0-home-text04 {
  left: 19px;
  color: #ffe400;
  width: auto;
  bottom: 3px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: Gothic A1;
  font-weight: 700;
  letter-spacing: -1px;
}
.pc0-home-menu {
  flex: 0 0 auto;
  width: 1040px;
  height: 50px;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: row;
}
.pc0-home-container04 {
  flex: 0 0 auto;
  width: 0.7px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #2c9ede;
}
.pc0-home-container05 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-text05 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Gothic A1;
  font-weight: bold;
}
.pc0-home-container06 {
  flex: 0 0 auto;
  width: 0.7px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #2c9ede;
}
.pc0-home-container07 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-text06 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Gothic A1;
  font-weight: bold;
}
.pc0-home-container08 {
  flex: 0 0 auto;
  width: 0.7px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #2c9ede;
}
.pc0-home-container09 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-text07 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Gothic A1;
  font-weight: bold;
}
.pc0-home-container10 {
  flex: 0 0 auto;
  width: 0.7px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #2c9ede;
}
.pc0-home-container11 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-text08 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Gothic A1;
  font-weight: bold;
}
.pc0-home-container12 {
  flex: 0 0 auto;
  width: 0.7px;
  height: 24px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #2c9ede;
}
.pc0-home-container13 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-text09 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Gothic A1;
  font-weight: bold;
}
.pc0-home-main {
  flex: 0 0 auto;
  width: 1400px;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.pc0-home-left-menu {
  flex: 0 0 auto;
  width: 360px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e4e4e4;
}
.pc0-home-stie-setting {
  flex: 0 0 auto;
  width: 356px;
  height: 40px;
  display: flex;
  position: relative;
  margin-top: 4px;
  align-items: flex-start;
  margin-left: 4px;
  border-color: var(--dl-color-gray-800);
  border-width: 0.5px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 4px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.pc0-home-container14 {
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.pc0-home-icon {
  fill: var(--dl-color-gray-black);
  width: 26px;
  height: 26px;
  transition: 0.3s;
  margin-left: 8px;
}
.pc0-home-icon:hover {
  fill: #000000;
}
.pc0-home-text10 {
  color: var(--dl-color-gray-black);
  font-size: 1rem;
  margin-top: 4px;
  font-family: Gothic A1;
  margin-left: 10px;
}
.pc0-home-text11 {
  color: var(--dl-color-gray-black);
  font-size: 10px;
  margin-top: 7px;
  font-family: Gothic A1;
  margin-left: 12px;
}
.pc0-home-text13 {
  color: var(--dl-color-secondary-real);
  font-style: normal;
  font-weight: 700;
}
.pc0-home-text15 {
  color: var(--dl-color-secondary-real);
  font-style: normal;
  font-weight: 700;
}
.pc0-home-login {
  width: 356px;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 4px;
  border-color: var(--dl-color-gray-800);
  border-width: 0.5px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.pc0-home-container15 {
  flex: 0 0 auto;
  width: 80%;
  height: 55px;
  display: none;
  position: relative;
  align-self: center;
  margin-top: 24px;
  align-items: center;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-icon02 {
  fill: var(--dl-color-secondary-blue500);
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
.pc0-home-icon02:active {
  fill: #000000;
}
.pc0-home-text16 {
  color: var(--dl-color-secondary-blue500);
  font-size: 14px;
  font-style: normal;
  margin-top: 3px;
  text-align: right;
  font-family: Gothic A1;
  font-weight: 600;
  margin-left: 10px;
}
.pc0-home-text17 {
  color: var(--dl-color-secondary-blue500);
  font-size: 14px;
  font-style: normal;
  margin-top: 3px;
  text-align: right;
  font-family: Gothic A1;
  font-weight: 600;
}
.pc0-home-container16 {
  flex: 0 0 auto;
  width: 80%;
  height: 55px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 24px;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 0.5px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.pc0-home-icon04 {
  fill: #0b41aa;
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
.pc0-home-icon04:active {
  fill: #000000;
}
.pc0-home-text18 {
  fill: var(--dl-color-gray-500);
  color: #0B41AA;
  font-size: 14px;
  font-style: normal;
  margin-top: 3px;
  text-align: right;
  font-family: Gothic A1;
  font-weight: 600;
  margin-left: 10px;
}
.pc0-home-text19 {
  fill: var(--dl-color-gray-500);
  color: #0B41AA;
  font-size: 14px;
  font-style: normal;
  margin-top: 3px;
  text-align: right;
  font-family: Gothic A1;
  font-weight: 600;
  margin-left: 5px;
}
.pc0-home-container17 {
  flex: 0 0 auto;
  width: 80%;
  height: 30px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}
.pc0-home-text20 {
  color: var(--dl-color-gray-black);
  font-size: 13px;
  font-style: normal;
  text-align: right;
  font-family: Gothic A1;
  font-weight: 700;
}
.pc0-home-text21 {
  color: var(--dl-color-gray-500);
  font-size: 13px;
  font-style: normal;
  text-align: right;
  font-family: Gothic A1;
  margin-left: 10px;
}
.pc0-home-container18 {
  flex: 0 0 auto;
  width: 356px;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 4px;
  border-color: var(--dl-color-gray-800);
  border-width: 0.5px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: center;
  background-color: #f9747e;
}
.pc0-home-text22 {
  color: #620707;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.pc0-home-chat-start {
  width: 356px;
  height: 600px;
  display: flex;
  z-index: 10;
  overflow: hidden;
  align-self: flex-end;
  align-items: center;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
  margin-bottom: 4px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-800);
}
.pc0-home-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: 3px;
  display: flex;
  margin-top: 0%;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(18, 22, 56) 1.00%,rgb(0, 67, 69) 100.00%);
}
.pc0-home-line {
  width: 100%;
  height: 1px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(166, 166, 166, 1);
}
.pc0-home-container20 {
  flex: 0 0 auto;
  width: 96%;
  display: flex;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: row;
  justify-content: space-between;
}
.pc0-home-container21 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.pc0-home-icon06 {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.pc0-home-text23 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  font-style: normal;
  margin-top: 2px;
  font-weight: 700;
  margin-left: 3px;
}
.pc0-home-icon08 {
  fill: #143771;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: 3px;
}
.pc0-home-icon08:active {
  fill: #13e2ea;
}
.pc0-home-container22 {
  width: 60%;
  display: flex;
  margin-top: 3px;
  align-items: flex-end;
  margin-bottom: 3px;
  flex-direction: row;
  justify-content: flex-end;
}
.pc0-home-text24 {
  color: #143771;
  height: fit-content;
  display: none;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: -3px;
}
.pc0-home-container23 {
  flex: 0 0 auto;
  width: 19px;
  height: 19px;
  display: none;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-color: #143771;
  border-width: 1px;
  margin-right: 3px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-secondary-blue500);
}
.pc0-home-container23:active {
  border-color: #227b6c;
  background-color: #13e2ea;
}
.pc0-home-icon10 {
  fill: var(--dl-color-gray-white);
  width: 16px;
  height: 16px;
}
.pc0-home-container24 {
  flex: 0 0 auto;
  width: 19px;
  height: 19px;
  display: none;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-color: #143771;
  border-width: 1px;
  margin-right: 3px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-secondary-blue500);
}
.pc0-home-container24:active {
  border-color: #227b6c;
  background-color: #13e2ea;
}
.pc0-home-icon12 {
  fill: var(--dl-color-gray-white);
  width: 16px;
  height: 16px;
}
.pc0-home-text25 {
  color: #143771;
  height: fit-content;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: -3px;
}
.pc0-home-container25 {
  flex: 0 0 auto;
  width: 19.5px;
  height: 19px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-color: #143771;
  border-width: 1px;
  margin-right: 3px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-secondary-blue500);
}
.pc0-home-container25:active {
  border-color: #227b6c;
  background-color: #13e2ea;
}
.pc0-home-icon14 {
  fill: var(--dl-color-gray-white);
  width: 16px;
  height: 16px;
  margin-top: 1px;
}
.pc0-home-container26 {
  flex: 0 0 auto;
  width: 19.5px;
  height: 19px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-color: #143771;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-secondary-blue500);
}
.pc0-home-container26:active {
  border-color: #227b6c;
  background-color: #13e2ea;
}
.pc0-home-icon16 {
  fill: var(--dl-color-gray-white);
  width: 16px;
  height: 16px;
  margin-bottom: 1px;
}
.pc0-home-tap-menu {
  flex: 0 0 auto;
  width: 96%;
  height: 30px;
  display: flex;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: row;
  justify-content: space-between;
}
.pc0-home-container27 {
  width: 35%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
  border-top-left-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.pc0-home-container27:hover {
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 145, 181) 100.00%);
}
.pc0-home-container27:active {
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 181, 60) 100.00%);
}
.pc0-home-text26 {
  color: var(--dl-color-gray-white);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
.pc0-home-container28 {
  width: 35%;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.pc0-home-container28:hover {
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 145, 181) 100.00%);
}
.pc0-home-container28:active {
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 181, 60) 100.00%);
}
.pc0-home-text27 {
  color: var(--dl-color-gray-white);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.pc0-home-container29 {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
  border-top-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.pc0-home-text28 {
  color: #8396da;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}
.pc0-home-openchatwindow {
  width: 96%;
  height: 100%;
  display: flex;
  overflow: auto;
  overflow-y: scroll;
  align-items: flex-start;
  margin-bottom: 5px;
  flex-direction: column;
  padding-bottom: 2px;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.pc0-home-container30 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.pc0-home-container31 {
  width: 16px;
  height: 16px;
  display: none;
  margin-top: 3px;
  align-items: flex-start;
  margin-left: 4px;
  margin-right: 3px;
  flex-direction: row;
  justify-content: flex-start;
}
.pc0-home-pasted-image {
  width: 16px;
  height: 16px;
}
.pc0-home-text29 {
  color: rgb(51, 51, 51);
  width: auto;
  height: auto;
  font-size: 14px;
  align-self: center;
  text-align: left;
  background-color: var(--dl-color-gray-white);
}
.pc0-home-text30 {
  font-weight: 700;
}
.pc0-home-container32 {
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pc0-home-text33 {
  font-size: 14px;
  text-align: center;
}
.pc0-home-prochatset {
  top: 61px;
  left: 0px;
  width: 96%;
  bottom: 0px;
  height: 100%;
  display: none;
  overflow: hidden;
  margin-bottom: 5px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.pc0-home-prochatlist {
  width: 100%;
  height: auto;
  align-self: center;
  overflow-y: scroll;
  align-items: flex-start;
  margin-bottom: 5px;
  flex-direction: column;
  padding-bottom: 2px;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.pc0-home-back {
  width: 100%;
  height: auto;
  display: none;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.pc0-home-container33 {
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}
.pc0-home-text34 {
  color: var(--dl-color-gray-700);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  margin-left: 3px;
  margin-right: 10px;
  margin-bottom: 1px;
}
.pc0-home-name-pro {
  color: var(--dl-color-gray-500);
  font-size: 13px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-right: 10px;
}
.pc0-home-container34 {
  width: auto;
  height: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-icon18 {
  fill: #7d7d7d;
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.pc0-home-icon18:active {
  fill: var(--dl-color-gray-black);
}
.pc0-home-text35 {
  color: #7d7d7d;
  font-size: 10px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: 3px;
  margin-right: 10px;
}
.pc0-home-text35:active {
  color: var(--dl-color-gray-black);
}
.pc0-home-prochatwindow {
  width: 100%;
  height: 100%;
  display: none;
  align-self: center;
  overflow-y: hidden;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.pc0-home-container35 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.pc0-home-container36 {
  width: 16px;
  height: 16px;
  display: flex;
  margin-top: 3px;
  align-items: flex-start;
  margin-left: 4px;
  margin-right: 3px;
  flex-direction: row;
  justify-content: flex-start;
}
.pc0-home-pasted-image1 {
  width: 16px;
  height: 16px;
}
.pc0-home-text36 {
  color: rgb(51, 51, 51);
  width: auto;
  height: auto;
  font-size: 14px;
  align-self: center;
  text-align: left;
  background-color: var(--dl-color-gray-white);
}
.pc0-home-text37 {
  font-weight: 700;
}
.pc0-home-chatinvite {
  top: 644px;
  flex: 0 0 auto;
  left: 122px;
  width: 210px;
  height: 110px;
  display: none;
  z-index: 20;
  position: absolute;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
}
.pc0-home-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
  border-color: #eef2ff;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.pc0-home-text40 {
  color: var(--dl-color-gray-white);
  width: 150px;
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-left: 10px;
}
.pc0-home-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pc0-home-text41 {
  color: var(--dl-color-gray-white);
  font-size: 12px;
  font-style: normal;
  margin-top: 5px;
  text-align: center;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 5px;
}
.pc0-home-container39 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-container40 {
  flex: 0 0 auto;
  width: 90px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: #105575;
  border-width: 1px;
  margin-right: 5px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.pc0-home-text46 {
  color: #274783;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
.pc0-home-container41 {
  flex: 0 0 auto;
  width: 90px;
  height: 25px;
  display: flex;
  align-items: center;
  border-color: #73164e;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.pc0-home-text47 {
  color: var(--dl-color-secondary-red500);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
.pc0-home-user-chatting {
  gap: 0;
  width: 100%;
  height: 45px;
  display: flex;
  z-index: 8;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #efefef;
}
.pc0-home-container42 {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: #143473;
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.pc0-home-container43 {
  width: 26px;
  height: 26px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 2.5%;
  margin-right: 4px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: 6px;
  flex-direction: row;
  justify-content: center;
  background-color: #2656b5;
}
.pc0-home-icon20 {
  fill: var(--dl-color-gray-white);
  width: 14px;
  height: 24px;
  margin-bottom: 2px;
}
.pc0-home-textinput {
  color: var(--dl-color-gray-black);
  width: 82%;
  height: 29px;
  font-size: 15px;
  padding-top: 0.5rem;
  border-width: 0.5px;
  border-radius: 16px;
  margin-bottom: 5px;
  padding-bottom: 0.6rem;
  background-color: #e8e8e8;
}
.pc0-home-container44 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 2%;
  border-radius: var(--dl-radius-radius-radius40);
  flex-direction: row;
  justify-content: center;
}
.pc0-home-icon22 {
  fill: #2656b5;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  margin-bottom: 6px;
}
.pc0-home-icon22:active {
  fill: #13e2ea;
}
.pc0-home-user-chatting1 {
  gap: 0;
  width: 100%;
  height: 45px;
  display: none;
  z-index: 8;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #efefef;
}
.pc0-home-container45 {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-color: #143473;
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.pc0-home-container46 {
  width: 26px;
  height: 26px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 2.5%;
  margin-right: 4px;
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: 6px;
  flex-direction: row;
  justify-content: center;
  background-color: #2656b5;
}
.pc0-home-icon24 {
  fill: var(--dl-color-gray-white);
  width: 14px;
  height: 24px;
  margin-bottom: 2px;
}
.pc0-home-textinput1 {
  color: var(--dl-color-gray-black);
  width: 82%;
  height: 29px;
  font-size: 15px;
  padding-top: 0.5rem;
  border-width: 0.5px;
  border-radius: 16px;
  margin-bottom: 5px;
  padding-bottom: 0.6rem;
  background-color: #e8e8e8;
}
.pc0-home-container47 {
  width: 35px;
  height: 35px;
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 2%;
  border-radius: var(--dl-radius-radius-radius40);
  flex-direction: row;
  justify-content: center;
}
.pc0-home-icon26 {
  fill: #2656b5;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  margin-bottom: 6px;
}
.pc0-home-icon26:active {
  fill: #13e2ea;
}
.pc0-home-iframe-all {
  width: 1040px;
  height: 1500px;
  min-width: auto;
  align-self: flex-start;
}
.pc0-home-iframee1-world {
  width: 1040px;
  height: 1500px;
  display: none;
  align-self: flex-start;
}
.pc0-home-container48 {
  top: 73px;
  flex: 0 0 auto;
  left: 371px;
  width: auto;
  height: 55px;
  display: none;
  position: absolute;
  align-items: center;
  border-color: #a6a6a6;
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.pc0-home-text48 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
}
.pc0-home-modal1 {
  top: 49px;
  left: 4px;
  display: none;
  z-index: 100;
  position: absolute;
  align-self: flex-start;
  flex-direction: column;
}
.pc0-home-m0-popup0-login-error {
  width: 356px;
  height: 350px;
  display: flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) ;
  border-color: 700 (Gray);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.pc0-home-container49 {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--dl-color-gray-800);
}
.pc0-home-container50 {
  flex: 0 0 auto;
  width: 12%;
  height: 100%;
  display: none;
  position: relative;
  align-items: flex-start;
  margin-left: 4%;
  flex-direction: column;
  justify-content: center;
}
.pc0-home-icon28 {
  fill: var(--dl-color-gray-500);
  width: 20px;
  height: 20px;
  align-self: flex-start;
  margin-top: 8px;
  transition: 0.3s;
}
.pc0-home-icon28:hover {
  fill: #000000;
}
.pc0-home-text49 {
  left: 0px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 50%;
  bottom: 5px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pc0-home-frame5 {
  width: 28px;
  height: 28px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 6px;
  border-radius: 2px;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(72, 72, 72) 2.00%,rgb(42, 42, 42) 100.00%);
}
.pc0-home-icon30 {
  fill: var(--dl-color-gray-white);
  width: 15px;
  height: 15px;
}
.pc0-home-container51 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 15px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pc0-home-text50 {
  color: var(--dl-color-gray-700);
  width: 80%;
  font-size: 14px;
  font-style: normal;
  margin-top: 5px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
}
.pc0-home-text51 {
  color: var(--dl-color-gray-700);
  width: 80%;
  font-size: 14px;
  font-style: normal;
  margin-top: 5px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
}
.pc0-home-text52 {
  color: var(--dl-color-gray-700);
  width: 80%;
  font-size: 14px;
  font-style: normal;
  margin-top: 5px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
}
.pc0-home-container52 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 15px;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-frame51 {
  width: 40%;
  height: 33px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 20px;
  border-radius: 2px;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
}
.pc0-home-text53 {
  color: rgb(255, 255, 255);
  height: fit-content;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.pc0-home-frame52 {
  width: 40%;
  height: 33px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
}
.pc0-home-text54 {
  color: rgb(255, 255, 255);
  height: fit-content;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.pc0-home-container53 {
  width: 100%;
  display: none;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 15px;
  flex-direction: row;
  justify-content: flex-start;
}
.pc0-home-text55 {
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.pc0-home-frame-bg {
  width: 80px;
  height: 25px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-right: 10px;
  border-radius: 4px;
  justify-content: center;
}
.pc0-home-text56 {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: auto;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.pc0-home-frame-bg1 {
  width: 80px;
  height: 25px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  border-radius: 4px;
  justify-content: center;
}
.pc0-home-text57 {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: auto;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 168%;
  font-stretch: normal;
  text-decoration: none;
}
.pc0-home-container54 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.pc0-home-container55 {
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: center;
}
.pc0-home-text58 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.pc0-home-container56 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-frame53 {
  width: 55%;
  height: 33px;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: 2px;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
  margin-bottom: 2px;
  justify-content: center;
}
.pc0-home-textinput2 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.pc0-home-frame54 {
  width: 30%;
  height: 33px;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: 2px;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 2px;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
}
.pc0-home-text59 {
  color: rgb(255, 255, 255);
  height: fit-content;
  font-size: 13px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.pc0-home-modal2 {
  top: 32%;
  left: 50%;
  right: 0px;
  width: 400px;
  bottom: 0px;
  height: 200%;
  display: none;
  z-index: 100;
  position: fixed;
  transform: translate(-50%, -50%);
  align-self: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}
.pc0-home-m0-popup0-login-error1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 96%;
  bottom: 0px;
  height: 400px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.pc0-home-pasted-image2 {
  width: 96%;
  margin-top: 8px;
}
.pc0-home-container57 {
  width: 96%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pc0-home-container58 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.pc0-home-text60 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  margin-top: 5px;
  font-weight: 500;
  line-height: 1.3;
}
.pc0-home-container59 {
  width: 100%;
  display: flex;
  margin-top: 5px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-image {
  width: 36px;
  height: 36px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 200px;
}
.pc0-home-container60 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pc0-home-text63 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.pc0-home-text64 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
}
.pc0-home-container61 {
  width: 100%;
  display: none;
  margin-top: 10px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-frame55 {
  width: 40%;
  height: 33px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
}
.pc0-home-text65 {
  color: rgb(255, 255, 255);
  height: fit-content;
  font-size: 13px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.pc0-home-frame56 {
  width: 50%;
  height: 33px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
  justify-content: center;
}
.pc0-home-text66 {
  color: #144fc3;
  height: fit-content;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.pc0-home-container62 {
  flex: 0 0 auto;
  width: 100%;
  height: 33px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  border-color: #dcd1ba;
  border-width: 2px;
  flex-direction: row;
  justify-content: center;
  background-color: #fff4dd;
  border-left-width: 0px;
  border-right-width: 0px;
}
.pc0-home-text67 {
  color: var(--dl-color-gray-black);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
.pc0-home-container63 {
  flex: 0 0 auto;
  width: 100%;
  bottom: 12px;
  display: none;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pc0-home-frame57 {
  width: 60%;
  height: 33px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
}
.pc0-home-checkbox {
  width: 16px;
  height: 16px;
  margin-left: 3px;
  accent-color: #2a84f3;
  margin-right: 3px;
}
.pc0-home-text68 {
  color: var(--dl-color-gray-black);
  height: fit-content;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.pc0-home-frame58 {
  width: 30%;
  height: 33px;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
}
.pc0-home-text69 {
  color: rgb(255, 255, 255);
  height: fit-content;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.pc0-home-margin-bottom {
  width: 100%;
  height: 280px;
  display: none;
  align-self: center;
  flex-direction: column;
}
@media(max-width: 400px) {
  .pc0-home-container16 {
    border: 0;
  }
}
