.all-board-common-code-all-board-common-code {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.all-board-common-code-code-embed {
  width: 0px;
  height: 0px;
}

.pc-all-borad-bottom-pc-all-borad-bottom {
  width: 1040px;
  display: flex;
  position: relative;
  margin-top: 60px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.pc-all-borad-bottom-container {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #c7c7c7;
}
.pc-all-borad-bottom-container1 {
  flex: 0 0 auto;
  width: 96%;
  display: flex;
  align-self: center;
  margin-top: 15px;
  align-items: center;
  flex-direction: column;
}
.pc-all-borad-bottom-text {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 14px;
  align-self: center;
  text-align: center;
  font-weight: bold;
}
.pc-all-borad-bottom-text01 {
  color: var(--dl-color-gray-700);
}
.pc-all-borad-bottom-text02 {
  color: var(--dl-color-gray-500);
}
.pc-all-borad-bottom-text03 {
  color: var(--dl-color-gray-black);
}
.pc-all-borad-bottom-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.pc-all-borad-bottom-container3 {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pc-all-borad-bottom-text04 {
  color: var(--dl-color-gray-500);
  width: 100%;
  font-size: 13px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
}
.pc-all-borad-bottom-text05 {
  color: var(--dl-color-gray-500);
  width: 100%;
  font-size: 13px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
}
.pc-all-borad-bottom-text06 {
  color: var(--dl-color-gray-500);
  width: 100%;
  font-size: 13px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
}
.pc-all-borad-bottom-container4 {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pc-all-borad-bottom-text07 {
  color: var(--dl-color-gray-500);
  width: 100%;
  font-size: 13px;
  font-style: normal;
  text-align: right;
  font-weight: 400;
}
.pc-all-borad-bottom-text10 {
  color: var(--dl-color-gray-500);
  width: 100%;
  font-size: 13px;
  font-style: normal;
  text-align: right;
  font-weight: 400;
}
.pc-all-borad-bottom-text11 {
  color: var(--dl-color-gray-700);
  width: 100%;
  font-size: 13px;
  align-self: center;
  font-style: normal;
  margin-top: 15px;
  text-align: center;
  font-family: Gothic A1;
  font-weight: 500;
  margin-bottom: 15px;
}
.pc-all-borad-bottom-root-class-name {
  margin-top: 4px;
}

.pc-g4siterule-container {
  width: 1040px;
  display: flex;
  z-index: -1;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pc-g4siterule-personal-code {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.pc-g4siterule-code-embed {
  width: 0px;
  height: 0px;
}
.pc-g4siterule-title {
  flex: 0 0 auto;
  width: 1030px;
  display: flex;
  align-self: center;
  margin-top: 20px;
  align-items: flex-start;
  margin-left: 5px;
  margin-right: 5px;
  flex-direction: column;
}
.pc-g4siterule-text {
  color: var(--dl-color-gray-black);
  width: 200px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.pc-g4siterule-container1 {
  flex: 0 0 auto;
  width: 200px;
  height: 3px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.pc-g4siterule-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-800);
}
.pc-g4siterule-line {
  flex: 0 0 auto;
  width: 95%;
  height: 50px;
  display: flex;
  align-self: center;
}
.pc-g4siterule-login-info {
  width: 900px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pc-g4siterule-text001 {
  color: rgb(145, 145, 145);
  width: 100%;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  font-stretch: normal;
  text-decoration: none;
}
.pc-g4siterule-text003 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text006 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text007 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text009 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text012 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text015 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text018 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text021 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text024 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text025 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text028 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text031 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text034 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text037 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text040 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text043 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text046 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text047 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text048 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text050 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text053 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text056 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text059 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text062 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text065 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text068 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text071 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text075 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text078 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text081 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text084 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text088 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text091 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text094 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text097 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text100 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text103 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text106 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text109 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text113 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text116 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text119 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text122 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text125 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text128 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text131 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text134 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text137 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text141 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text144 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text147 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text151 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text154 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text157 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text160 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text163 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text166 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text169 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text172 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text175 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text178 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text182 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text184 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text186 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text189 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text192 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text195 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text199 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text202 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text205 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text208 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text212 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text215 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text218 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text221 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text224 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text227 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text230 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text233 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text236 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text238 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text240 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text243 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text246 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-text249 {
  color: #919191;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.pc-g4siterule-line1 {
  flex: 0 0 auto;
  width: 95%;
  height: 50px;
  display: flex;
  align-self: center;
}
.pc-g4siterule-frame5 {
  width: 300px;
  height: 50px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  margin-bottom: 45px;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(50, 105, 213) 1.00%,rgb(38, 86, 181) 100.00%);
}
.pc-g4siterule-text255 {
  color: rgb(255, 255, 255);
  height: 20px;
  font-size: 16px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
