.all-board-common-code-all-board-common-code {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.all-board-common-code-code-embed {
  width: 0px;
  height: 0px;
}

.all-board-top-margin-top-margin {
  width: 100%;
  height: 70px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-800);
}
.all-board-top-margin-root-class-name1 {
  width: 0%;
  height: 0px;
}

.all-board-bottom-footer-bottom-footer {
  width: 100%;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.all-board-bottom-footer-container {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: center;
  background-color: #c7c7c7;
}
.all-board-bottom-footer-container1 {
  flex: 0 0 auto;
  width: 96%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: column;
}
.all-board-bottom-footer-text {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 10px;
  align-self: center;
  text-align: center;
  font-weight: bold;
}
.all-board-bottom-footer-text01 {
  color: var(--dl-color-gray-700);
}
.all-board-bottom-footer-text02 {
  color: var(--dl-color-gray-500);
}
.all-board-bottom-footer-text03 {
  color: var(--dl-color-gray-black);
}
.all-board-bottom-footer-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.all-board-bottom-footer-container3 {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.all-board-bottom-footer-text04 {
  color: var(--dl-color-secondary-400);
  width: 50%;
  font-size: 10px;
  text-align: left;
}
.all-board-bottom-footer-text05 {
  color: var(--dl-color-secondary-400);
  width: 50%;
  font-size: 10px;
  text-align: left;
}
.all-board-bottom-footer-text06 {
  color: var(--dl-color-secondary-400);
  width: 50%;
  font-size: 10px;
  text-align: left;
}
.all-board-bottom-footer-container4 {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.all-board-bottom-footer-text07 {
  color: var(--dl-color-secondary-400);
  width: 50%;
  font-size: 10px;
  text-align: right;
}
.all-board-bottom-footer-text10 {
  color: var(--dl-color-secondary-400);
  width: 50%;
  font-size: 10px;
  text-align: right;
}
.all-board-bottom-footer-text11 {
  color: var(--dl-color-gray-700);
  width: 100%;
  font-size: 10px;
  align-self: center;
  font-style: normal;
  margin-top: 15px;
  text-align: center;
  font-family: Gothic A1;
  font-weight: 500;
  margin-bottom: 15px;
}
























.ui-mobile-c3coummunity-container {
  width: 100%;
  display: flex;
  z-index: -1;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.ui-mobile-c3coummunity-personal-code {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.ui-mobile-c3coummunity-code-embed {
  width: 0px;
  height: 0px;
}
.ui-mobile-c3coummunity-container01 {
  flex: 0 0 auto;
  width: 96%;
  display: flex;
  align-self: center;
  margin-top: 20px;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: column;
}
.ui-mobile-c3coummunity-container02 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.ui-mobile-c3coummunity-container03 {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ui-mobile-c3coummunity-text {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 23px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}
.ui-mobile-c3coummunity-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 3px;
  display: none;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.ui-mobile-c3coummunity-container05 {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ui-mobile-c3coummunity-text01 {
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 23px;
  font-size: 13px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.ui-mobile-c3coummunity-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 3px;
  display: none;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.ui-mobile-c3coummunity-container07 {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ui-mobile-c3coummunity-text02 {
  color: var(--dl-color-secondary-real);
  width: 100%;
  height: 23px;
  font-size: 13px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.ui-mobile-c3coummunity-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 3px;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-secondary-real);
}
.ui-mobile-c3coummunity-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-800);
}
.ui-mobile-c3coummunity-list-hit {
  width: 100%;
  display: flex;
  margin-top: 5px;
  align-items: center;
  flex-direction: column;
}
.ui-mobile-c3coummunity-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ui-mobile-c3coummunity-menu {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 8px;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: column;
  justify-content: center;
}
.ui-mobile-c3coummunity-container10 {
  width: 92%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.ui-mobile-c3coummunity-container11 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.ui-mobile-c3coummunity-container12 {
  width: 65px;
  height: 30px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
  background-color: #3f3f3f;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-left-radius: 4;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 0;
}
.ui-mobile-c3coummunity-icon {
  fill: var(--dl-color-gray-white);
  width: 20px;
  height: 20px;
}
.ui-mobile-c3coummunity-text03 {
  color: var(--dl-color-gray-white);
  font-size: 12px;
}
.ui-mobile-c3coummunity-container13 {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: #3f3f3f;
  border-top-left-radius: 0;
  border-top-right-radius: 4;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4;
}
.ui-mobile-c3coummunity-icon2 {
  fill: var(--dl-color-gray-white);
  width: 14px;
  height: 14px;
}
.ui-mobile-c3coummunity-container14 {
  flex: 0 0 auto;
  width: 80%;
  height: 30px;
  display: flex;
  margin-top: 15px;
  align-items: flex-start;
  flex-direction: row;
}
.ui-mobile-c3coummunity-textinput {
  color: var(--dl-color-gray-black);
  width: 80%;
  height: 30px;
  font-size: 13px;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
}
.ui-mobile-c3coummunity-container15 {
  width: 20%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #3f3f3f;
  border-top-left-radius: 4;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 0;
}
.ui-mobile-c3coummunity-text04 {
  color: var(--dl-color-gray-white);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.ui-mobile-c3coummunity-numbering {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ui-mobile-c3coummunity-container16 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ui-mobile-c3coummunity-icon4 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.ui-mobile-c3coummunity-container17 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ui-mobile-c3coummunity-text05 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.ui-mobile-c3coummunity-container18 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ui-mobile-c3coummunity-text06 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.ui-mobile-c3coummunity-container19 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ui-mobile-c3coummunity-text07 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.ui-mobile-c3coummunity-container20 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ui-mobile-c3coummunity-text08 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.ui-mobile-c3coummunity-container21 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ui-mobile-c3coummunity-text09 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.ui-mobile-c3coummunity-container22 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ui-mobile-c3coummunity-icon6 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
