<div>
  <link href="./all-board-bottom-footer.css" rel="stylesheet" />
  <div class="all-board-bottom-footer-bottom-footer">
    <div class="all-board-bottom-footer-container"></div>
    <div class="all-board-bottom-footer-container1">
      <span id="bottomHome" class="all-board-bottom-footer-text">
        <span class="all-board-bottom-footer-text01">주식에 미치다 |</span>
        <span class="all-board-bottom-footer-text02"></span>
        <span class="all-board-bottom-footer-text03">주미클럽</span>
      </span>
      <div class="all-board-bottom-footer-container2">
        <div class="all-board-bottom-footer-container3">
          <span
            id="bottomHot"
            class="all-board-bottom-footer-text04 bottomtextforhover"
          >
            <span>HOT영상</span>
          </span>
          <span
            id="bottomComm"
            class="all-board-bottom-footer-text05 bottomtextforhover"
          >
            <span>커뮤니티</span>
          </span>
          <span
            id="bottomRules"
            class="all-board-bottom-footer-text06 bottomtextforhover"
          >
            <span>이용약관</span>
          </span>
        </div>
        <div class="all-board-bottom-footer-container4">
          <span
            id="bottomEvent"
            class="all-board-bottom-footer-text07 bottomtextforhover"
          >
            <span>이벤트</span>
            <br />
          </span>
          <span
            id="bottomCS"
            class="all-board-bottom-footer-text10 bottomtextforhover"
          >
            <span>고객센터</span>
          </span>
        </div>
      </div>
      <span class="all-board-bottom-footer-text11">
        <span>Copyright 주미클럽 All Right Reserved.</span>
      </span>
    </div>
  </div>
</div>
