.all-board-common-code-all-board-common-code {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.all-board-common-code-code-embed {
  width: 0px;
  height: 0px;
}
