<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/dangerous-html/dist/default/lib.umd.js"
  ></script>
  <link href="./all-board-common-code.css" rel="stylesheet" />
  <div class="all-board-common-code-all-board-common-code">
    <div class="all-board-common-code-code-embed">
      <dangerous-html
        html="<link rel='stylesheet' href='/css/common.css' />

<script type='text/javascript' src='/js/00_Allboards.js'></script>"
      ></dangerous-html>
    </div>
  </div>
</div>
