<div>
  <link href="./pc-all-borad-bottom.css" rel="stylesheet" />
  <div class="pc-all-borad-bottom-pc-all-borad-bottom">
    <div class="pc-all-borad-bottom-container"></div>
    <div class="pc-all-borad-bottom-container1">
      <span class="pc-all-borad-bottom-text">
        <span class="pc-all-borad-bottom-text01">주식에 미치다 |</span>
        <span class="pc-all-borad-bottom-text02"></span>
        <span class="pc-all-borad-bottom-text03">주미클럽</span>
      </span>
      <div class="pc-all-borad-bottom-container2">
        <div class="pc-all-borad-bottom-container3">
          <span class="pc-all-borad-bottom-text04"><span>HOT영상</span></span>
          <span class="pc-all-borad-bottom-text05"><span>커뮤니티</span></span>
          <span class="pc-all-borad-bottom-text06"><span>이용약관</span></span>
        </div>
        <div class="pc-all-borad-bottom-container4">
          <span class="pc-all-borad-bottom-text07">
            <span>이벤트</span>
            <br />
          </span>
          <span class="pc-all-borad-bottom-text10"><span>고객센터</span></span>
        </div>
      </div>
      <span class="pc-all-borad-bottom-text11">
        <span>Copyright 주미클럽 All Right Reserved.</span>
      </span>
    </div>
  </div>
</div>
